.red-box {
    background-color: red;
}

.blue-box {
    background-color: rgb(200, 0, 173);
}

.green-box {
    background-color: green;
}
.purple-box {
    background-color: purple;
}
.orange-box {
    background-color: orange;
}